div.Editor {
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  border-radius: 4px;
  width: 90%;
  height: 100%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  width: 40%;
}

header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: mediumturquoise;
  width: 100%;
  height: 14vh;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

input {
  border: 0;
  grid-column: 2 / 3;
  box-shadow: 2px 4px 4px hsl(0deg 0% 0% / 0.3);
  width: 200px;
  height: 20px;
  border-radius: 10px;
  padding: 0.3rem;
}